<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android" coreApp="true" android:sharedUserId="android.uid.system"
    android:sharedUserLabel="@string/android_system_label">


    <!-- Dummy user-facing group for faking package signature -->
    <permission-group android:name="android.permission-group.FAKE_PACKAGE"
        android:label="@string/permgrouplab_fake_package_signature"
        android:description="@string/permgroupdesc_fake_package_signature"
        android:request="@string/permgrouprequest_fake_package_signature"
        android:priority="100" />

    <!-- Allows an application to change the package signature as
         seen by applications -->
    <permission android:name="android.permission.FAKE_PACKAGE_SIGNATURE"
        android:permissionGroup="android.permission-group.UNDEFINED"
        android:protectionLevel="dangerous"
        android:label="@string/permlab_fakePackageSignature"
        android:description="@string/permdesc_fakePackageSignature" />

</manifest>
